---
# YAML front matter
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Max De Wilde - Expertise</title>
    {% include links.html %}
  </head>
  <body>

    {% include header.html %}
    {% include nav.html %}

    <article>
        <h2>Expertise</h2>
        <ul>
            <li>(Arch) Linux, Python 3</li>
            <li>Apache, PHP, MySQL</li>
            <li>HTML, CSS, XML</li>
            <li>REST, MongoDB</li>
            <li>RDF, SPARQL</li>            
            <li>R, LaTeX, Git</li>
            <li><a href="https://openrefine.org/" target="_blank">OpenRefine</a></li>            
        </ul>  
    </article>

    {% include aside.html %}
    {% include footer.html %}

  </body>
</html>