---
# YAML front matter
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Max De Wilde</title>
    {% include links.html %}
  </head>
  <body>

    {% include header.html %}
    {% include nav.html %}

    <article>
        <h2>Looking for semantic solutions?</h2>
        <p>After completing my PhD in natural language processing at the <a href="https://www.ulb.be/" target="_blank">Université libre de Bruxelles</a> 
            (ULB) in 2015, I started working as a consultant for the European Commission and eventually created my own company, 
            <a href="https://semanticsolutions.be" target="_blank">Semantic Solutions</a>, in 2018.</p>
        <p>When not helping people to make sense of their unstructured data, I teach three classes to Master-level students: 
          Introduction to computational linguistics and Automated processing of corpora at the 
          <a href="https://max.de.wilde.web.ulb.be/" target="_blank">ULB</a>, and Information technology at the 
          <a href="https://www.unige.ch/fti/en/faculte/enseignants-collaborateurs/liste-corps-ensrech/page-personnelle/?lang=en&urlname=max-de-wilde&type=all" target="_blank">University of Geneva</a>.</p>
    </article>

    {% include aside.html %}
    {% include footer.html %}

  </body>
</html>