---
# YAML front matter
---
<!DOCTYPE html>
<html lang="en">
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Max De Wilde - Experience</title>
    <link href="../style.css?version=1" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:600" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

  </head>
  <body>
    <header>
      <hgroup>
        <h1>
          <a href="../" rel="contents">Max De Wilde</a>
        </h1>
        <h2>Information Architect | Data Scientist</h2>
      </hgroup>
    </header>

    {% include nav.html %}

    <article>
    
        <h2>Experience</h2>
        <ul>
            <li>Founder & CEO, Semantic Solutions, Saint-Symphorien, since 2018.</li>
            <li>Lecturer in Information Technology, UNIGE, Geneva, since 2017.</li>    
            <li>Information Architect, European Commission, Brussels, since 2016.</li>
            <li>Lecturer in Natural Language Processing, ULB, Brussels, since 2016.</li>
            <li>Teaching Assistant and Researcher, ULB, Brussels, 2009-2016.</li>
        </ul>
    </article>

    {% include aside.html %}

    {% include footer.html %}

  </body>
</html>