---
# YAML front matter
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Max De Wilde - Experience</title>
    {% include links.html %}
  </head>
  <body>

    {% include header.html %}
    {% include nav.html %}

    <article>    
        <h2>Experience</h2>
        <ul>
            <li>Founder & CEO, Semantic Solutions, Saint-Symphorien, since 2018.</li>
            <li>Lecturer in Information Technology, UNIGE, Geneva, since 2017.</li>    
            <li>Information Architect, European Commission, Brussels, since 2016.</li>
            <li>Lecturer in Natural Language Processing, ULB, Brussels, since 2016.</li>
            <li>Teaching Assistant and Researcher, ULB, Brussels, 2009-2016.</li>
        </ul>
    </article>

    {% include aside.html %}
    {% include footer.html %}

  </body>
</html>