---
# YAML front matter
---
<!DOCTYPE html>
<html lang="en">
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Max De Wilde - Education</title>
    <link href="../style.css?version=1" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:600" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

  </head>
  <body>
    <header>
      <hgroup>
        <h1>
          <a href="../" rel="contents">Max De Wilde</a>
        </h1>
        <h2>Information Architect | Data Scientist</h2>
      </hgroup>
    </header>

    {% include nav.html %}

    <article>
    
        <h2>Education</h2>
        <ul> 
            <li>PhD in Information and Communication, ULB, 2015.</li>
            <li>Advanced Master in Computational Linguistics, Universiteit Antwerpen, 2011.</li>
            <li>MA in Linguistics, ULB, 2009.</li>
            <li>BA in Modern Languages and Literatures (English-Russian), ULB, 2007.</li>
        </ul>   
    </article>

    {% include aside.html %}

    {% include footer.html %}

  </body>
</html>