---
# YAML front matter
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Max De Wilde - Education</title>
    {% include links.html %}
  </head>
  <body>

    {% include header.html %}
    {% include nav.html %}

    <article>   
        <h2>Education</h2>
        <ul> 
            <li>PhD in Information and Communication, ULB, 2015.</li>
            <li>Advanced Master in Computational Linguistics, Universiteit Antwerpen, 2011.</li>
            <li>MA in Linguistics, ULB, 2009.</li>
            <li>BA in Modern Languages and Literatures (English-Russian), ULB, 2007.</li>
        </ul>   
    </article>

    {% include aside.html %}
    {% include footer.html %}

  </body>
</html>